
.flex-wrapper{
  border: 1px solid rgb(13, 7, 24);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.flex-header{
  border: 1px solid rgb(13, 7, 24);
}

.flex-content{
  border: 1px solid rgb(13, 7, 24);
  flex-grow: 1;
}

.flex-footer{
  border: 1px solid rgb(13, 7, 24);
}
