:root {
  --primary: #3b82f6;
  --dark:    #1f2937;
  --light:   #f3f4f6;
}

*{
  height: 100%;
  box-sizing: border-box;
  margin:     0;
  padding:    0;
  /* overflow-x: hidden; */
}

html {
  font-size: 16px;
}

body {
  font-family:  Arial, sans-serif;
  line-height:  1.6;
  color:        var(--dark);
  background:   var(--light);
}